*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.box{
	width: 1200px;
	height: 397px;
	margin: 0 auto;
	margin-top:10px;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;
	/* transition: left 1s;
	-moz-transition: left 1s;
	-webkit-transition: left 1s;
	-o-transition: left 1s; */
}
.slide{
	width: 1200px;
	overflow: hidden;
	float: left;
}
.box>span{
	z-index: 100;
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	/* display: none; */
	opacity: 0;
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{
	background: red;
	color: white;
}